/* body {
    margin-left:520px
    
} */
h1 {
    margin-left: 430px;
}

#for1 {
    margin-left: 430px;
    font-size: 20px;
}


.sp1, .sp2 {
    display: flex;
    justify-content: space-between; /* 文字和文字框+按鈕之間的空間平均分配 */
    align-items: center;
    margin: 10px auto; /* 垂直置中，也可以根據需要調整上下間距 */
    max-width: 600px; /* 可以根據需要調整最大寬度 */
}


