/* body {
    margin-left:520px
    
} */
h1 {
    margin-left:480px;
}
#for1 {
    margin-left:477px;
    font-size:20px;
}
#sp1 {
    margin-left:480px;
    font-size:20px;
}
#sp2 {
    margin-left:100px;
    font-size:20px;
}
#sp3 {
    margin-left:480px;
}
#newText{
    width: 150px;
    height: 35px;
}